<div id="carouselExampleCaptions" class="carousel slide carousel-fade mw-75 shadow-sm" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner"> 
      <div class="carousel-item active" data-interval="2000">
        <img src="./images/PEQ12.jpg" class="d-block w-100" alt="Work in  canada" style="height: 600px; width:80%;">
        <div class="carousel-caption d-none d-md-block alert alert-primary" style="width: 80%;">
          <h1 class="alert-heading" style="color: red;"><b>工作在加拿大</b></h1>
          <p style="color: rgb(7, 93, 151);"><b>找到适合自己的工作！</b></p>
        </div>
      </div>
      <div class="carousel-item" data-interval="2000">
        <img src="./images/home-700b.png" class="d-block w-100" alt="haha" style="height: 600px;">
        <div class="carousel-caption d-none d-md-block alert alert-primary">
          <h1 class="alert-heading"><b>学习在加拿大</b></h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
      <div class="carousel-item" data-interval="2000">
        <img src="./images/PEQ12.jpg" class="d-block w-100" alt="..." style="height: 600px;">
        <div class="carousel-caption d-none d-md-block alert alert-primary">
          <h1><b>第三页</b></h1>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </div>
      <div class="carousel-item" data-interval="2000">
        <img src="./images/home-700b.png" class="d-block w-100" alt="haha" style="height: 600px;">
        <div class="carousel-caption d-none d-md-block alert alert-primary">
          <h1 class="alert-heading">第四页</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>600px
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>