<div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner"> 
      <div class="carousel-item active" data-interval="5000">
        <img src="./images/PEQ12.jpg" class="d-block w-100" alt="Work in  canada" style="height: 600px; width:80%;">
        <div class="carousel-caption d-none d-md-block text-right">
          <h1 class="animated bounceInRight display-2 text-right" style="animation-delay: 1s;"><b>工作在加拿大</b></h1>
          <p class="animated bounceInLeft" style="animation-delay: 2s;">找到适合自己的工作, 找到生活和工作的平衡点</p>
          <a class="animated bounceInRight btn btn-warning ml-auto rounded-pill" style="animation-delay: 2s;" href="#">了解更多</a>
        </div>
      </div>
      <div class="carousel-item" data-interval="5000">
        <img src="./images/home-700b.png" class="d-block w-100" alt="haha" style="height: 600px;">
        <div class="carousel-caption d-none d-md-block text-right">
          <h1 class="animated slideInDown alert-heading display-2 text-right" style="animation-delay: 1s;"><b>学习在加拿大</b></h1>
          <p class="animated slideInUp" style="animation-delay: 2s;">轻松学习，在科技中感受加拿大！</p>
          <a class="animated bounceInRight btn btn-warning ml-auto rounded-pill" style="animation-delay: 2s;" href="#">了解更多</a>
        </div>
      </div>
      <div class="carousel-item" data-interval="5000">
        <img src="./images/PEQ12.jpg" class="d-block w-100" alt="..." style="height: 600px;">
        <div class="carousel-caption d-none d-md-block text-right">
          <h1 class="animated zoomInDown display-2 text-right" style="animation-delay: 1s;"><b>生活在加拿大</b></h1>
          <p class="animated zoomInUp" style="animation-delay: 2s;">寻找生活的真谛，快乐简单悠闲生活！</p>
          <a class="animated bounceInRight btn btn-warning ml-auto rounded-pill" style="animation-delay: 2s;" href="#">了解更多</a>
        </div>
      </div>
      <div class="carousel-item" data-interval="5000">
        <img src="./images/home-700b.png" class="d-block w-100" alt="haha" style="height: 600px;">
        <div class="carousel-caption d-none d-md-block text-right">
          <h1 class="alert-heading animated zoomInDown " style="animation-delay: 1s;">展望未来</h1>
          <p  class="animated zoomInUp " style="animation-delay: 2s;">一切的七点 就是一个决定！</p>
          <a class="animated bounceInRight btn btn-warning ml-auto rounded-pill" style="animation-delay: 2s;" href="#">了解更多</a>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>