body {
  padding: 0px;
  font: 24px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
a :hover{
  color: rgb(155, 6, 76);
}

.carousel-item{
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  background-size: cover;
}

.carousel-caption{
  bottom: 0px;
  letter-spacing: 10px;
  margin-top: 25px;
  margin-left: 200px;
  padding: 60px;
  font-family: inherit;
  color: rgb(61, 58, 109);
  font-weight: bolder;
  background-color: rgb(5, 59, 59, 0.25);
}

.carousel-caption h1{
  font-size: 80px;
  letter-spacing: 20px;
  width: fit-content;
  align-content: center;
  text-align: right;
  font-weight: bolder;
  color: beige;
}

.carousel-caption a{
  align-self: end;
}

.figure {
  /* background-color: aliceblue; */

}
.figure-caption {
  top: -100px;
  bottom: 0px;
  font-weight: bolder;
  font-size: large;
  text-align: center;
  height: 60px;
}

.card-body{
  /* height: 180px;
  min-height: 150px; */
}

.card-body p{
  min-height: 70px;
}

.card img{
  height: 200px;
}

.card-img-overlay{
  font-weight: bolder;
  background-color: rgb(5, 59, 59, 0.05);
  padding-top: 320px;
}

.card-img-overlay .card-title{
  padding-top: 320px;
  font-weight: bolder;
}
.card-title-bg{
  background-color: #000;
  opacity: 0.5;
  font-weight: bolder;
}
.card-img-overlay h2, h3{
  /* margin-top: 320px; */
  /* background-color: #414142; */
  font-weight: bolder;
  font-size: 40px;
  text-align: center;
  /* background-color: #000; */
  /* color: rgb(180, 184, 251); */
}

.card img :hover{
  transform: scale(1.3);
}

.card-text-mask{
  padding-top: 320px;
  /* background-color: rgb(5, 59, 59, 0.25);; */
}

.inner{
  overflow: hidden;
}

.inner img{
  transition: all 1.5s ease;
}

.inner:hover img{
  transform: scale(1.3);
}

.img-card-show{
  overflow: hidden;
  transition: 1s;
  position: relative;
}

.img-card-show:hover{
  z-index: 100;
  transform: scale(1.15);
  z-index: 100;
}

.img-card-show h5{
  font-size: 18px;
  font-weight: bolder;
  color: #00B7FF
}
/* 
#tree-book{
  display: inline;
  color: white;
  width: 100%;
  padding: 5%;
  height: 600px;
} */




elementor-flip-box__layer__title{
  color:#fff
}
.elementor-flip-box__layer__description:not(:last-child),.elementor-flip-box__layer__title:not(:last-child){
  margin:0 0 20px;
  padding:0
}
.elementor-flip-box__layer__title{
  line-height:1;
  font-weight:600
}

.elementor-flip-box__back{
  background-image:url("http://localhost:5001/images/policy5-1.jpg");
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
}

#elementor-91191{
  background-image:url("http://localhost:5001/images/policy3-1.jpg");
}

#elementor-91192{
  background-image:url("http://localhost:5001/images/policy1-1.jpg");
}

#elementor-210001{
  background-image:url("http://localhost:5001/images/ben-white.png");
}
#elementor-210002{
  background-image:url("http://localhost:5001/images//policy4-1.jpg");
}
#elementor-210003{
  background-image:url("http://localhost:5001/images//policy6.jpg");
}

section{
  padding: 6%
  margin-top: 80px
}

.elementor-widget-wrap{
  padding: 6%;
  color: #fff;
}

#elementor-policy-1{
  background-image: url(../images/policy-layer.png); 
  margin-bottom: 8%;
  font-size: 100px;
  font-weight:  bolder;
}

#elementor-policy-1 h2{
  font-size: 50px;
  font-weight:  bolder; 
  opacity: 0.8;
}
#elementor-policy-1 h2:hover{
  font-size: 60px;
  font-weight:  bolder; 
  opacity: 1;
}


#bg-tree{
  /* background: yellow; */
  margin: 5%;
  background-image: url("../images/home-700b.png");
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: right;
  /* filter: blur(1px);
  -webkit-filter: blur(1px); */
  height: 600px;
  text-shadow: 2px 2px #0080;
  /* background-color: rgb(5, 59, 59, 0.5); */

}

#bg-tree p{
  /* margin-top: 10%; */
  padding: 5%; 
  /* padding-left:50%; */
  font-weight: bolder;

  /* background-color: rgb(5, 59, 59, 0.5); */
}

.tree-text{
  padding: 5% 10%;  
  /* background-color: rgb(5, 59, 59, 0.5); */
}

.tree-text h4 {
  text-shadow: 1px 1px #414142;
  font-weight: bolder;
  font-size: 20px;
  text-align: left;
  /* padding-top:2%; */
  /* padding-left:2%; */
  color: rgb(236, 234, 231);

}

.tree-text h2{
  text-shadow: 1px 1px #414142;
  font-weight: bolder;
  font-size: 30px;
  text-align: left;
  /* padding-top:2%; */
  /* padding-left:2%; */
  color: rgb(236, 234, 231);

}

.card-body p{
  font-size: 20px;
}

.compus-head {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  /* width: 300px; */

  background-image: url("../images/mcgill-2-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  margin-top: 30px;
  margin-bottom: 40%;
  background-color: #0080;
}

.compus-body {
  background-color: #fff;
  margin-top: 55%;
  height: 100vh;
}

.compus-headline {
  height: 100vh;
}

.compus-text {
  height: 65vh;
  color: #000;
  background-color: rgb(232, 234, 236);
}

.acontainer {
  background: rgb(232, 234, 236);
  padding: 7em;
  color: rgb(8, 8, 8);
}

.elementor-icon-box-wrapper{
  padding-left: 5%;
  padding-right: 5%;
}

.acontainer:hover{
  animation: hyqanimation 1s forwards 0.1s ease-in-out;
}

.acontainer h1{
  font-size: 3em;
}

.acontainer p{
  font-size: 1.1em;
  line-height: 1.6em;
 
}

a.cta{
  display: inline-block;
  padding: 1em;
  background: rgb(242, 255, 196);
  border-radius: 4px;
  color: rgb(5, 5, 5);
  text-decoration: none;
  margin-top: 20px;
  font-size: 1.3em;
  font-weight: bold;
}

@keyframes hyqanimation{
  0%{
      transform: rotate(0) translateY(-15%);
      opacity: 0;
      }
  20%{
    transform: rotate(0) translateY(-10%);
    opacity: 0.2;
    }
  30%{
    transform: rotate(0) translateY(-2%);
    opacity: 0.2;
    }
  40%{
    transform: rotate(0) translateY(2%);
    opacity: 0.8;
    }
  50%{
    transform: rotate(0) translateY(-1%);
    opacity: 0.8;
    }
  100%{
      transform: rotate(0) translateY(0);
      opacity: 1;
      }
}

.star-green{
  color: rgb(22, 175, 86);
}

.star-red{
  color: rgb(230, 70, 70);
}

.star-yellow{
  color: rgb(240, 237, 50);
}

.compus-high {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 80vh;
  /* width: 300px; */

  background-image: url("../images/macgill-camp2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  /* margin-top: 30px;
  margin-bottom: 40%;
  background-color: #0080; */
  opacity: 0.5;
}

.compus-local {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 80vh;

  background-image: url("../images/macgill-camp4.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.5;
}

.compus-intel {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 80vh;

  background-image: url("../images/法语学习2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.5;
}

.franch-beauty-tittle{
  margin-top: 8%;
  font-weight: bold;
  font-size: 2rem;
  animation: franch-tittle 1s forwards 0s ease;
}

.franch-beauty-tittle h1{
  font-weight: bold;
  font-size: 3.5rem;
  
}

.franch-beauty-phrase {
  margin: 5% 20%;
  font-size: 1.15rem;
  font-weight: 700;
  line-height: 1.6em;
  text-align: left;
}

.franch-beauty-img img{
  width: 70%;
  height: 80%;
  border-radius: 50%;
}

@keyframes franch-tittle{
  0%{
      transform: rotate(0) translateY(-80px);
      opacity: 0.5;
      font-size: 10px;
      }
  100%{
      transform: rotate(0) translateY(0);
      }
}

.about-us{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 80vh;

  background-image: url("../images/关于我们header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.5;  
}
.contact-background{
  background-image:url("../images/contact.jpg");
  background-repeat:no-repeat;
  background-size:cover;  
  background-color: #080808;
  opacity: 0.9;
  margin-top: 8%;
}

.contact-container {
  background-color: rgb(63, 105, 112);
  opacity: 0.8;
}
/* 
.contact-col-bg:not(.elementor-widget-wrap h2){
  opacity: 0.7;
  background-color: #080808;
} */

.elementor-widget-wrap h2{
  opacity: 1;
  font-weight: bold;
}

.elementor-widget-wrap p{
  font-weight: bold;
}

.elementor-field-group {
  opacity: 1;
  background-color: rgb(248, 242, 242);
}

.contact-form{
  font-weight: bolder;
  background-color: rgb(158, 34, 34);
}

.contact-info {
  font-size: 20px; 
  font-weight: bolder; 
  background-color: aliceblue; 
  color: black;
}

.card-img-effect:hover{
  animation: img-effect 1s forwards 0s ease-in;
}

@keyframes img-effect{
  0%{
      opacity: 0.3;
      transform: scale(0.9);
      }
  100%{
      opacity: 1;
      transform: scale(1.0);
      }
}

.compus-boards {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 80vh;

  background-image: url("../images/campus2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.5;
}

/* .elementor-icon {
  color: #22b3a4;
  border-color: #22b3a4;
} */

.elementor-color {
  color: #22b3a4;
  border-color: #22b3a4;
}

.text-board {
  width: 80%;
  margin: 5% 5%;
  padding: 10%, 10%;
  align-self: auto;
}

.text-header-faq{
  margin: 5%;
  padding: 5% 10%;
}



